@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1140px;
    margin : 0 auto;
}
.registration-form{
    background: linear-gradient(to right, #22c1c3 , #288eff);
    height: 100vh;
    padding: 100px 0;
}
.box{
    width: 90%;
    height: 500px;
    border-radius: 10px;
    display: flex;
    margin: 50px auto;
    box-shadow: 10px 10px 20px 5px rgba(0 , 0, 0, 0.3); 
}
.box .box-left{
    flex-basis: 50%;
    background: #3685BD;
    border-radius: 10px  0 0 10px;
    padding: 50px;
}
.box .box-left h1{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    display: block;
    margin-bottom: 40px;
}
.box .box-left p{
    text-transform: uppercase;
    color: #fff;
    display: block;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    font-weight: 300;
}
.box .box-left p strong{
    font-weight: 500;
}
.box .box-left button{
margin-top: 50px;
padding: 10px;
border: none;
cursor: pointer;
border-radius: 5px 0 5px 0;
font-weight: 600;
transition: all 0.5s;
}
.box .box-left button:hover{
    background-color: #f1abab;
}
.box .box-right{
    padding: 50px;
    flex-basis: 50%;
    background: #fff;
    border-radius:0 10px 10px 0;
}
.box .box-right h1{
    color: #528CBA;
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding-bottom: 30px;
}
.box .box-right .box-form{
    display: block;
}
.box .box-right .box-form form{
    display: block;
    width: 100%;
}
.box .box-right .box-form form .form-wrap{
    display: block;
}
.box .box-right .box-form form .form-wrap .form-input-group{
    display: flex;
    justify-content: space-between;
}
.box .box-right .box-form form .form-wrap .form-input-group .input-form{
    display: block;
}
.box .box-right .box-form form .form-wrap .form-input-group .input-form label{
    display: block;
    margin-bottom: 6px;
    color: gray;
    cursor: pointer;
    font-size: 18px;
}
.box .box-right .box-form form .form-wrap .form-input-group .input-form input{
    padding: 10px 10px;
    border: 1px solid gray;
    outline: none;
}
.box .box-right .box-form form .form-wrap .input-email label{
    display: block;
    margin-bottom: 6px;
    color: gray;
    cursor: pointer;
    font-size: 18px;
}
.box .box-right .box-form form .form-wrap .input-email input{
    padding: 10px 10px;
    border: 1px solid gray;
    outline: none;
    width: 95%;
}
.box .box-right .box-form form .form-wrap .form-input-terms{
    margin-top: 20px;
    font-size: 18px;
}
.box .box-right .box-form form .form-wrap .form-input-terms label a{
    color: #3685BD;
}
.box .box-right .box-form form .form-wrap button{
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px 0 5px 0;
    font-weight: 600;
    transition: all 0.5s;
    background: #3685BD;
    color: #fff;
}
.box .box-right .box-form form .form-wrap button:hover{
    background-color: #1f3cdf;
}
